*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/hs_err_pid*
/source-code/bpustaka.iml
/source-code/bpustaka.ipr
/source-code/bpustaka.iws
/source-code/target/
/nb-configuration.xml
/lib/